*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #eaeaea;
  text-align: center;
  background-color: #2a2b30;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-container {
  gap: 80px 50px;
  display: flex;
  margin: 50px auto;
  max-width: 90%;
  flex-flow: row wrap;
  justify-content: center;

  .card {
    display: flex;
    flex-flow: row wrap;
    max-width: 200px;
    height: 350px;
    padding: 20px 0;
    text-align: left;

    &-poster {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.417);
    }

    &-release_date {
      font-size: 0.75rem;
      margin: 10px 0px 3px;
      color: #bebebe;
    }

    &-title {
      width: 100%;
      font-size: 0.89rem;
    }
  }
}
